body {
	margin: 0px;
	background-image: url(/secondproject-version1/images/background.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	background-color: aliceblue;
	min-height: 100vh;
}

.task-area {
	border: 1px solid lightgray;
	margin-top: 2em;
}
.task-tabs {
	display: flex;
	border-bottom: solid lightgray;
	position: relative;
}

.task-tabs div {
	padding: 1em;
}

.task {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

#under-line {
	height: 4px;
	background-color: pink;
	position: absolute;
	width: 80px;
	left: 0px;
	top: 52px;
	padding: 0px;
}

.task-done {
	text-decoration: line-through;
}

.task-tabs div {
	cursor: pointer;
}
